#not-found-page {
    text-align: center;
    color: white;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(-45deg, #57BC90, #77C9D4);
    padding-top: 270px;
}

.not-found-text {
    font-weight: 250;
}

.not-found-link {
    color: #015249;
}

.not-found-link:hover {
    color: #015249;
}
