#result-page {
    text-align: center;
}

.accordion-card {
    background-color: black;
    height: 30vh;
    font-size: 080px;
    font-weight: lighter;
    border-radius: 0px;
}

.accordion-card:hover {
    text-decoration: underline;
}

.celeb-card {
    padding: 0px;
}
