#main-page {
    background: linear-gradient(-45deg, #57BC90, #77C9D4);
}

#result-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

#bbox-image {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right:auto;
    max-width: 50%;
    height:auto;
}