.upload-page {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(-45deg, #57BC90, #77C9D4);
    padding-bottom: 50px;
}

.celeb-upload-header h3 {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    padding-top: 30px;
}

.celeb-upload-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

.celeb-upload-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}

.celeb-upload-header p {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    color: white;
}
