<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reverse Profile Image Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="container">
      <h2></h2>
         <div class="panel panel-primary">
             <div class="panel-heading"><h2>Reverse Profile Image Search</h2></div>
          <div class="panel-body">
               <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                   <button type="submit" class="btn btn-primary">Submit</button>
               </form>
          </div>
        </div>
    </div>
</body>
