.navbar-brand {
    font-weight: bold;
    font-size: 23pt;
    letter-spacing: 2px;
    padding-left: 20px;
}

.navbar-text {
    color: #015249 !important;
    font-size: 18pt;
}

.navbar-text:hover {
    color: #57BC90 !important;
}
