.musician-section {
    background-color: inherit;
    clear: left;
    padding-top: 70px;
}

.info {
    padding-bottom: 80px;
    clear: left;
}

.info-header {
    width: 40%;
    background-color: inherit;
    float: left;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

.info-bubble {
    background-color: #015249;
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-left: 60%;
    text-align: center;
    line-height: 120px;
}

.genre-bubble {
    font-size: 40px;
}

.release-bubble {
    color: white;
    line-height: normal;
    font-size: 26px;
}

.release-bubble-latest {
    padding-top: 25px;
}

.awards-bubble {
    font-size: 35px;
}

.info-content {
    margin-left: 40%;
    padding-left: 10px;
    padding-right: 30px;
    line-height: 120px;
    background-color: inherit;
    color: #015249;
    text-align: justify;
    font-size: 50px;
    font-style: italic;
    font-weight: lighter;
    text-transform: capitalize;
}

@media only screen and (max-width: 550px) {
    .info-header {
        width: 100%;
        float: none;
    }

    .info-bubble {
        margin-left: 0;
        margin: 0 auto;
    }

    .info-content {
        height: 120px;
        line-height: 50px;
        margin-left: 0;
        text-align: center;
    }
}
