.App {
    text-align: center;
}

.logo-text{
    margin-top: 50px;
    margin-bottom: 50px;
}

h1.display-4{
    text-align: center;
    font-size: 8em;
    letter-spacing: .1em;

}

.lead{
    text-align: center;
}

.button-primary{
    text-align: center;
}

.my-4{
    text-align: center;
}

.homepage {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-header {
    background-color: white;
    color: #77C9D4;
}

.btn-header:hover {
    color: #57BC90;
}

.header {
	width: 100vw;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    margin-bottom: 0px;
    min-width: 100vh;
	color: white;
	background: linear-gradient(-45deg, #3a926c, #57BC90, #77C9D4, #CEEBEF);
	background-size: 500% 500%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.section {
    margin-top: 50px;
}

.modal-left {
    width: 50%;
    float: left;
}

.modal-right {
    margin-left: 50%;
}

.modal-bubble {
    display: block;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    width: 300px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal-bubble-left {
    margin-right: 40px;
}

.modal-bubble-right {
    margin-left: 40px;
}

.modal-bubble:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px;
    color: white;
    text-decoration: none;
}

.modal-bubble:active {
    background-color: white;
    color: #77C9D4;
}
