.App {
    text-align: center;
}

.carousel {
    height: 93vh;
    text-align: center;
    background-color:rgba(0,0,0,0.9);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.carousel img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
}

.carousel .caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;
    bottom: initial;
}

.carousel .caption h3 {
    font-size: 55pt;
    vertical-align: middle;
}

.carousel .caption p {
    font-size: 25pt;
    vertical-align: middle;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
}

.btn:hover {
    background: #fff;
    color: #18d26e;
}


.homepage {
    padding-left: 0px;
    padding-right: 0px;
	width: 100vw;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    margin-bottom: 0px;
    min-width: 100vh;
	background: linear-gradient(-45deg, #3a926c, #57BC90, #77C9D4, #CEEBEF);
	background-size: 500% 500%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

.btn-header {
    background-color: white;
    color: #77C9D4;
}

.btn-header:hover {
    color: #57BC90;
}


#service {
    background: url("./img/about-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
  }
  
  #service::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }
  
  #service .container {
    position: relative;
    z-index: 10;
  }
  
  #service .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }
  
  #service .about-col .img {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: -20px;
  }
  
  #service .about-col .img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 4px 4px 0 0;
  }

  #service .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding: 0;
    margin: 40px 0 12px 0;
  }
  
  #service .about-col h2 a {
    color: #000;
  }
  
  #service .about-col h2 a:hover {
    color: #18d26e;
  }
  
  #service .about-col p {
    font-size: 16px;
    word-break: normal;
    hyphens: auto;
    line-height: 22px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
  }
  


  
  #application {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;
    height: 600px;
  }
  
  #application .box {
    margin-bottom: 30px;
  }
  
  #application .title {
    color: #111;
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  #application .description {
    font-size: 18px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
  }
  

.section-header h4 {
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h4::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
  
.section-header h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}